{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.cs",
      "options": {
        "parser": "cs",
        "tabWidth": 4
      }
    },
    {
      "files": [
        "*.json",
        "*.yml",
        "*.yaml",
        "*.xml",
        "*.js",
        "*.ts",
        "*.html",
        "*.css"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
